.ebextensions/02-ssl.config
---
files:
  "/etc/nginx/conf.d/01_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Gzip compression
      gzip on;
      gzip_vary on;
      gzip_proxied any;
      gzip_comp_level 6;
      gzip_types text/plain text/css text/xml text/javascript 
                 application/json application/javascript application/xml+rss 
                 application/atom+xml image/svg+xml;
      
      # Security headers
      server_tokens off;
      
      # Rate limiting
      limit_req_zone $binary_remote_addr zone=api_limit:10m rate=10r/s;

option_settings:
  aws:elasticbeanstalk:application:environment:
    PROXY_SERVER: nginx
    
  aws:elasticbeanstalk:listener:default:
    Protocol: HTTP
    
  aws:elasticbeanstalk:listener:443:
    Protocol: HTTPS
    SSLCertificateArn: arn:aws:acm:region:account-id:certificate/certificate-id
    SSLPolicy: ELBSecurityPolicy-TLS-1-2-2017-01
    InstancePort: 3000
    InstanceProtocol: HTTP
